@model WebApplication1.Startup

@{
    ViewData["Title"] = "Hi there";
}

<h2>Daha buyuk baslık</h2>

<div>
    <h4> Başlık </h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div> 
    <p id="id1"> paragraf 1 <br />
    paragraf 2 </p>
</div>

<div>
    
</div>


