@model WebApplication1.Startup

@{
    ViewData["Title"] = "Hi there";
}

<h2>HHH</h2>

<div>
    <h4> Title H4 </h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div> 
    <p> lorem ipsum dolor bişşiler </p>
</div>
