@model WebApplication1.Startup

@{
    ViewData["Title"] = "Index";
}

<h2>ILK GİRİS</h2>

<h4> First </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="inp" type="button" value="Simgeye" onclick="location.href='https://localhost:44325/simge';" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="inp" type="button" value="Hello World" onclick="location.href='https://localhost:44325/helloWorld';" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="inp" type="button" value="Database --" onclick="location.href='https://localhost:44325/DB';" />
            </div>
        </form>
    </div>
</div>

